<ion-view view-title="Education">
  <ion-content class="timeline">

    <div class="row">
      <div class="col">

        <div class="timeline-date">
          <span>2015</span></div>
      </div>
      <div class="col col-75">
        <div class="timeline-info">
         <h2>Course: M101JS</h2>
          <h4>MongoDB University</h4>
          <p>MongoDB for Node.js Developers</p>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="timeline-date">
          <span>2014</span></div>
      </div>
      <div class="col col-75">
        <div class="timeline-info">
          <h2>Certification: Umbraco</h2>
          <h4>Moriyama, London </h4>
          <p>Level 2 certified developer by Moriyama (Umbraco certified gold partner)</p>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="timeline-date">
          <span>2012</span></div>
      </div>
      <div class="col col-75">
        <div class="timeline-info">
          <h2>Master's degree</h2>
          <h4>University of Seville, Spain </h4>
          <p>Web application development and mobile application development.
            600 hours.</div>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="timeline-date">
          <span>2010</span></div>
      </div>
      <div class="col col-75">
        <div class="timeline-info">
          <h2>Course: iOS apps development</h2>
          <h4>University of Seville, Spain </h4>
          <p>Native iOS application development.100 hours</div>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="timeline-date">
          <span>2010</span></div>
      </div>
      <div class="col col-75">
        <div class="timeline-info">
          <h2>Bachelor's degree: Computer Science</h2>
          <h4>University of Seville, Spain </h4>
          <p>With honours.
            Distinction to final thesis</div>

      </div>
    </div>
  </ion-content>
</ion-view>
