<ion-view view-title="Experience">
  <ion-content class="timeline">

    <div class="row">
      <div class="col">

        <div class="timeline-icon" style="background-image: url(images/slash-small.jpg)"></div>
      </div>
      <div class="col col-75">
        <div class="timeline-info">
          <h2>SlashMobility,Barcelona</h2>
          <h4>Apr,2015-Present</h4>
          <p>Full stack development with the MEAN Stack(MongoDB,Express,AngularJS, NodeJS). Mobile development using ionic framework, angularjs, html5, css3 etc...</p>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="timeline-icon" style="background-image: url(images/im-small.jpg)"></div>
        </div>
      <div class="col col-75">
        <div class="timeline-info">
          <h2>Intelligent Mobile, Edinburgh</h2>
          <h4>Mar,2014 - Mar,2015</h4>
          <p>Web development in .NET (C#) with Umbraco CMS (6+). Mobile development using ionic framework, angularjs, html5, css3 etc...</p>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="timeline-icon" style="background-image: url(images/pgs-small.jpg)"></div>
      </div>
      <div class="col col-75">
        <div class="timeline-info">
          <h2>PhoneGap Spain</h2>
          <h4>Jan,2013 - Mar,2014 </h4>
          <p>Administration tasks, tutorial creations, support for users, in this adobe users group.</p></div>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="timeline-icon" style="background-image: url(images/forma-small.jpg)"></div>
      </div>
      <div class="col col-75">
        <div class="timeline-info">
          <h2>Forma Animada, Seville</h2>
          <h4>May,2011 - Sep,2013</h4>
          <p>Web development with PHP and MySQL in server side and HTML5 +JS +CSS in client side.
            Different projects with jQuery HTML5, CSS3 with phonegap and development of native plugins for major mobile platforms.</div>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="timeline-icon" style="background-image: url(images/everis-small.jpg)"></div>
      </div>
      <div class="col col-75">
        <div class="timeline-info">
          <h2>Everis, Seville</h2>
          <h4>Jun,2010 - Apr,2011 </h4>
          <p>Technological migration of three heterogeneous systems of each other in a single J2EE web architecture based on frameworks open source, JSF (richfaces), Spring and iBatis.</div>

      </div>
    </div>
  </ion-content>
</ion-view>
