<ion-view view-title="">
  <ion-content scroll="false">
    <div class="back-image"> <div class="back-image-inner">
      <h2 class="whitec">Miguel Sanchez</h2>
      <h4 class="coloured">Full Stack Developer</h4>
      <div class="light-quote">
        <div class="quote-left">
          <i class="ion-quote"></i>
        </div>
        <p> 5 years turning energy drinks into software</p>
        <div class="quote-right"><div class="quote-right-inner"><i class="ion-quote reversed"></i>
        </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="contact-wrapper">
        <div class="contact-icon" ng-click="goToContact()">
          <i class="icon ion-ios-email-outline"></i>
        </div>
      </div>

    </div>
    </div>
   <!-- <div class="info-bar">
      <div class="row">
        <div class="col">
          <h4>WEB</h4>
        </div>
        <div class="col">
          <h4>APP</h4>
        </div>
        <div class="col">
          <h4>DESKTOP</h4>
        </div>
        <div class="col">
          <h4>DB</h4>
        </div>
      </div>
    </div>-->
    <ion-scroll direction="y" class="scroll-out">
      <div class="scroll-in">
    <div class="numbers">
      <div class="row">
        <div class="col">
          <span>+</span>
          <span class="number">5</span>
          <p> <i class="icon ion-mouse"></i>&nbsp;EXPERIENCE</p>
          </div>
        <div class="col">
          <span>+</span>
          <span class="number">60</span>
          <p> <i class="icon ion-compose"></i>&nbsp;PROJECTS</p>
        </div>
        <div class="col">
          <span>+</span>
          <span class="number">500</span>
          <p> <i class="icon ion-soup-can"></i>&nbsp;REDBULLS</p>
        </div>
        </div>
      </div>
    <div class="info-text">
    <p>Highly competent software developer with 5 years experience designing,
      programming and testing software across a variety of platforms, having worked on numerous projects from concept to completion.</p>
    <p>I take pride in coding within consistently high standards as well as
      refreshing my skills regularly to ensure that I keep up to date with ongoing developments.</p>
      </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
